@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--bg:#0d0c22;
--bgSoft:#2d2b42;
--text:#ffff;
--textSoft:#e5e5e5;
--btn:#3673fd;
}
body{
    background-color: var(--bg);
    color: var(--text);
}
.container{
    width: 80vw;
    margin: auto;
    padding: 3vh 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
*{
/* margin: 0; */
/* padding: 0; */
/* box-sizing: border-box; */
}